<main class="main-view mt-4">

  <div class="container">
    <div class="row">
      <!--    Details -->
      <section class="col-xl-3 col-lg-5 col-md-12 col-12 mb-2 justify-content-center">
        <div class="card">
          <img *ngIf="course.imageUrl; else noImage" [src]="course.imageUrl" alt="Course Image">

          <ng-template #noImage>
            <img [src]="environment.imageNotFound" alt="Image Not Found">
          </ng-template>
          <div class="card-body">
            <section class="container-fluid mb-2 ms-3">
                <span label="course-name" class="row course-name">
                  {{course.name}}
                </span>

              <span class="row" label="course-language">
                  <span>
                    <fa-icon [icon]="faGlobe"></fa-icon> : {{course.language}}
                  </span>
                </span>
              <span class="row" label="course-category">
                  {{internalization['category']}}: {{course.category}}
                </span>
              <span class="row" label="course-last-update-date">
                  {{internalization['lastUpdateDate']}}: {{getLastUpdateDate()}}
                </span>
              <span class="row" label="course-author">
                   {{internalization['author']}}: {{authorUsername}}
                </span>
              <span class="row" label="course-students">
                   {{internalization['studentsCount']}}: {{course.studentsCount}}
                </span>
            </section>


            <span class="row justify-content-center mb-1" *ngIf="course.authorUsername === user.username">
                  <button type="button" class="btn btn-primary col" (click)="openEditCourse()">
                      {{internalization['editCourse']}}
                  </button>
                </span>
            <span class="row justify-content-center">
                  <button type="button" class="btn btn-warning col" (click)="logoutCourse()">
                    {{internalization['logoutFromCourse']}}
                  </button>
                </span>
          </div>
        </div>
      </section>

      <!--    Description -->
      <section class="col-xl-8 col-lg-7 col-md-12 col-12 justify-content-center">
        <details>
          <summary class="summary">
            {{internalization['description']}}
            <fa-icon [icon]="faArrowRight" class="arrow"></fa-icon>
          </summary>
          <ckeditor [editor]="Editor" [(ngModel)]="course.description" [disabled]="true" class="mt-4"></ckeditor>
        </details>

        <div>

          <h3 class="mt-4">{{internalization['lessons']}}</h3>
          <div *ngFor="let section of course.sections; let i = index">
            <details>
              <summary class="summary">
                {{section.name}}
                <fa-icon [icon]="faArrowRight" class="arrow"></fa-icon>
              </summary>
              <div class="videos">
                <ul *ngFor="let video of section.videos; let i = index">
                  <li>
                    <button class="btn video" (click)="openVideo(video.urlToVideo)">
                      {{video.isWatched ? '✔️' : '' }} {{video.name}}
                    </button>
                  </li>
                </ul>
              </div>
            </details>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
