/* Details and Summary Styling */
details {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  margin-bottom: 0.5rem;
}

details[open] .summary {
  border-radius: 0.375rem 0.375rem 0 0;
}

:host ::ng-deep details[open] .ck-rounded-corners {
  border-radius: 0 0 0.375rem 0.375rem !important;
  border-top: 0 !important;
}

.summary {
  display: block;
  border: 1px solid #ccced1;
  padding: 0.3rem;
  background-color: #f3f3f3;
  border-radius: 0.375rem;
}

/* Section Edit Styling */
.sectionsEdit {
  display: block;
  border: 1px solid #ccced1;
  padding: 0.3rem;
  background-color: #f3f3f3;
  border-radius: 0.375rem;
  margin-bottom: 0.5rem;
}

/* Row Styling */
.row {
  margin-right: 0;
  margin-left: 0;
}

/* Arrow Styling for Interactive Elements */
.arrow {
  float: right;
  padding-right: 0.375rem;
  transition: 0.25s transform ease;
}

details[open] .arrow {
  transform: rotate(90deg);
  transition: 0.25s transform ease;
}

/* Video Section Styling */


.sections {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccced1;
  border-radius: 0.375rem;
  background-color: #f3f3f3;
}

.videos ul {
  padding-top: 0.6rem;
}

.videos {

}

.video {
  padding: 0 0.5rem 0 0.5rem;
}
