<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>


<div *ngIf="!isPageLoading">
  <app-menu></app-menu>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1>Create Course</h1>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <form (ngSubmit)="onCreate()" #createForm="ngForm" class="mt-4">
          <div class="mb-3">
            <label for="courseName" class="form-label">Course Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="courseName" placeholder="Java" [(ngModel)]="courseName">
          </div>


          <!-- New Text Area -->
          <div class="mb-3">
            <label for="courseName" class="form-label">Short Description <span class="text-danger">*</span></label>
            <textarea type="text" class="form-control" name="TextArea" placeholder="Short Description"></textarea>
          </div>

          <div class="mb-3">
            <label for="courseDescription" class="form-label">Course Description <span class="text-danger">*</span></label>
            <ckeditor [editor]="Editor" id="courseDescription" name="courseDescription" [(ngModel)]="courseDescription"></ckeditor>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="courseLanguage" class="form-label">Language <span class="text-danger">*</span></label>
              <select class="form-select" id="courseLanguage" name="courseLanguage" [(ngModel)]="courseLanguage">
                <option *ngFor="let language of languages">{{ language.label }}</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="courseCategory" class="form-label">Category <span class="text-danger">*</span></label>
              <select class="form-select" id="courseCategory" name="courseCategory" [(ngModel)]="courseCategory">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label d-block">
                Is Course Public <span class="text-danger">*</span>
              </label>
              <input class="form-check-input" type="checkbox" name="isPublic" [checked]="coursePolicy" [(ngModel)]="coursePolicy">
            </div>
            <div class="col-md-6">
              <label for="courseUrl" class="form-label">Course Url <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="courseUrl" name="courseUrl" placeholder="java-learning" [(ngModel)]="courseUrl">
            </div>
          </div>

          <div class="text-end">
            <button type="submit" class="btn btn-success">Create</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8" *ngIf="error">
        <h3 class="text-danger">{{ error }}</h3>
      </div>
    </div>
  </div>
</div>
