<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="square-jelly-box" [fullScreen]="true"><p
  style="color: white"> Loading... </p></ngx-spinner>

<div *ngIf="!isLoading">
  <app-menu [pageTitle]="'KIN'"
            [logoSrc]="'./assets/images/logo.png'"></app-menu>

  <!--  <h3>{{languages['welcome-message']}}</h3>-->
  <!--  <h3>{{languages | json}}</h3>-->

  <div class="container text-truncate mt-4">
    <h5>{{internalization | json}}</h5>
  </div>

  <div class="container text-truncate mt-4">
    <h5>{{user | json}}</h5>
  </div>

  <div class="container text-truncate mt-4">
    <h5>{{languages | json}}</h5>
  </div>
</div>
