<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="square-jelly-box" [fullScreen]="true"><p
  style="color: white"> Loading... </p></ngx-spinner>



<div *ngIf="!isLoading">

  <app-menu>
  </app-menu>

  <div class="container justify-content-center">
    <!--Setting menu-->
    <div class="input-group mt-3">
      <button class="btn" (click)="changeIsEdit(isEdit)" [ngClass]="{'btn-success': isEdit, 'btn-warning': !isEdit}">
        {{isEdit ? 'Save' : 'Edit'}}
      </button>
      <button class="btn">
        {{internalization['editData']}}
      </button>
    </div>



    <app-course-edit-data [isEdit]="isEdit" [courseUrl]="courseUrl" [course]="course" [categories]="categories">
    </app-course-edit-data>
  </div>
</div>


