.user-data{
  min-height: 3rem;
}

.logout:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0.25rem;
}

a{
  min-height: 2rem;
}

.underline{
  border-bottom: 1px solid rgb(128, 128, 128);
}
