<header class="header" style="min-height: 60px;">
  <nav class="navbar navbar-expand-md bg-body-tertiary fixed-top" *ngIf="!showFullscreenSearch">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">KIN</a>
      <div>
        <button class="btn d-md-none" id="search-btn">
          <fa-icon [icon]="faMagnifyingGlass" (click)="toggleFullscreenSearch(true)"></fa-icon>
        </button>
      </div>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
           aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">KIN</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-start flex-grow-1 pe-3" id="list">
            <li class="nav-item dropdown d-md-block d-none">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu dropdown-menu-light dropdown-first">


                <li *ngFor="let category of categories" class="dropdown-item">
                  {{category.name}}
                </li>

              </ul>
            </li>
            <li class="d-md-block d-none search-input">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search"
                       aria-label="Search" id="search-input">
              </form>
            </li>
            <li *ngIf="(user | json) == '{}'" class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <li *ngIf="(user | json) != '{}'">
              <app-user-account class="d-md-block d-none"/>
              <app-profile class="d-block d-md-none"/>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </nav>
  <div class="fullscreen-search" id="fullscreenSearch" *ngIf="showFullscreenSearch">
    <div class="fullscreen-search-content">
      <form class="d-flex" style="height: 60px" role="search">
        <button class="btn mt-2 btn-link" disabled>
          <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        </button>
        <input class="form-control mt-1" type="search" placeholder="Search" aria-label="Search"
               id="search-input-full">
        <button class="btn mt-2 me-2 color-search" id="closeSearch"
                (click)="toggleFullscreenSearch(false)">
          <fa-icon [icon]="faXmark"></fa-icon>
        </button>
      </form>
    </div>
  </div>

  <app-languages></app-languages>
</header>
