.header {
  padding: 1rem;
}

input[type="search"]::-webkit-search-cancel-button{ display: none; }

.form-control:focus {
  box-shadow: none;
}

.search-input {
  width: 100%;
  border: none;
}

@media screen and (max-width: 767px) {
 #list{
   align-items: start;
 }
}

@media screen and (min-width: 768px) {
  #list{
    align-items: center;
  }
}

/* Dropdown */
.dropdown-first {
  padding-top: 10px;
}

.dropdown-menu {
  height: 200px;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -230%;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.dropdown:hover .dropdown-first {
  display: block;
}


/* Full screen search */
.fullscreen-search {
  display: block;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.fullscreen-search-content {
  background: white;
  width: 100%;
  height: 100%;
}

::-ms-clear {
  display: none;
}

#search-input-full {
  border: none;
  padding-top: 10px;
}

#search-input-full::after {
  display: none;
}

#search-input-full:focus,
#search-input:focus {
  outline: none;
  box-shadow: none;
}
