<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="square-jelly-box" [fullScreen]="true"><p
  style="color: white"> Loading... </p></ngx-spinner>

<div *ngIf="!isLoading">
  <app-menu></app-menu>

  <app-course-view-preview
    [course]="course"
    [internalization]="internalization"
    [authorUsername]="authorUsername"
    *ngIf="!errorMessage && !isJoined"></app-course-view-preview>

  <app-course-view-outlook
    [course]="course"
    [internalization]="internalization"
    [authorUsername]="authorUsername"
    *ngIf="isJoined"></app-course-view-outlook>


  <div class="container row justify-content-center" style="color: red" *ngIf="errorMessage">
    {{errorMessage}}
  </div>

</div>
