details {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out, border-radius 0.3s ease-in-out;

  margin-bottom: .5rem;
}

details[open] .summary {
  border-radius: 0.375rem 0.375rem 0 0;
}

:host ::ng-deep details[open] .ck-rounded-corners {
  border-radius: 0 0 .375rem .375rem !important;
  border-top: 0 !important;
}
.summary {
  display: block; /* This hides the summary's ::marker pseudo-element */
  border: 1px solid #ccced1;
  padding: 0.7rem;
  background-color: #f3f3f3;
  border-radius: 0.375rem;

}

.arrow{
  float: right;
  padding-right: 0.375rem;
  transition: .25s transform ease;
}
details[open] .arrow{
  transform: rotate(90deg);
  transition: .25s transform ease;

}

.videos{
  border: 1px solid #ccced1;
  border-top: 0;
  border-radius: 0 0 .375rem .375rem;
}

.videos ul{
  padding-top: 0.6rem;
}

.video{
  text-align: left;
  width: 100%;
}

.video:hover{
  background-color: #f3f3f3;
  cursor: pointer;
}
