<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="square-jelly-box" [fullScreen]="true"><p
  style="color: white"> Loading... </p></ngx-spinner>

<div>
  <app-menu></app-menu>


  <div class="container" *ngFor="let course of courses">
    <div class="card mt-3 course" (click)="openCourse(course.url)">
      <div class="row g-0 align-items-center justify-content-center">
        <div class="col-12 col-md-3 col-lg-2">
          <img [src]="course.imageUrl" class="img-fluid rounded w-100 h-100" alt="...">
        </div>
        <div class="col-12 col-md-9 col-lg-10">
          <div class="card-body">
            <h5 class="card-title">{{course.name}}</h5>
            <p class="card-text">
              {{course.authorName}}
            </p>
            <p class="card-text">
              {{course.shortDescription}}
            </p>
            <p class="card-text row">
                        <span class="text-body-secondary">
                          <fa-icon [icon]="faGlobe"></fa-icon>
                          {{ getLanguageName(course) }}
                        </span>
              <span class="text-body-secondary">
                          {{internalization['studentsCount']}}:
                {{ course.studentsCount}}
                        </span>
              <span class="text-body-secondary">
                            {{internalization['lastUpdateDate']}}:
                {{course.lastUpdateDate | date: 'dd/MM/yyyy'}}
                        </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
